:root {
    --primary-color: #4A90E2;
    --secondary-color: #50E3C2;
    --text-primary: #333;
    --text-secondary: #666;
    --background-light: #f9f9f9;
    --background-dark: #3a4750;
    --border-color: #ddd;
}

body {
    margin: 0;
    font-family: Pretendard, sans-serif;
    background-color: var(--background-light);
    color: var(--text-primary);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}